*{
    margin: 0px;
    padding: 0px;
}

body{
    /*Color de fondo*/
    background: lightgray;
    /*Tipo de letra (seguido de alternativas)*/
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px;
    /*Auto centra el contenido de la página web*/
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: seagreen;
    height: 100px;
    width: 100%;
    text-align: center;
    /*line-height tiene la misma altura que tiene la caja*/
    line-height: 100px;
    color: black;
    border-bottom: 3px dashed black
}

nav{
    background: darkseagreen;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    /*Los elementos de abajo se quedan en su sitio*/
    clear:both;
}

#content{
    float: left;
    /*calc se utiliza para restar el padding de los márgenes. (Se utiliza el doble de pixeles)*/
    width: calc(80% - 80px);
    min-height:500px;
    background: rgb(169, 197, 169);
    padding: 40px;
}

.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15 px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article h2{
    font-size: 25px;
}

.article table, th, td{
    border: 1px solid black;
    border-collapse: separate;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

aside{
    float: left;
    /*calc se utiliza para restar el padding de los márgenes. (Se utiliza el doble de pixeles)*/
    width: calc(20% - 20px);
    min-height:500px;
    background: rgb(104, 182, 138);
    padding: 10px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}